<div class="row">
    <div class="cell-12">
        <h1>Choisissez un article</h1>
    </div>
</div>
<form class="row required" action="index.php?a=<?= $action; ?>" method="post">
    <div class="cell-12">
        <!--  article -->
        <div class="groupform-large">
            <label class="required" for="article">Article </label>
            <?= $this->showMsg("errorArticle"); ?>
            <select class="padd-15" name="article" id="article">
                <?php
                    foreach($lst as $article)
                    {
                        echo "<option value='".$article->getId()."'>".$article->getTitle()."</option>";
                    }
                ?>
            </select>
        </div>
        <!-- submit -->
        <div class="marg-15-top align-center">
            <input class="padd-15" type="submit" value="valider" id="submit"/>
        </div>
    </div>
</form>
