<div class="row">
    <div class="cell-12">
        <h1>Ajout d'un article</h1>
    </div>
</div>
<form class="row required" action="index.php?a=new" method="post">
    <div class="cell-12">
        <!-- author -->
        <div class="groupform-large">
            <label class="required" for="author">Auteur</label>
            <?= $flash->flash("errorAuthor", true); ?>
            <input class="padd-15" type="text" name="author" id="author" required placeholder="un auteur" maxlength="255"
                   value="<?= !empty($data['author']) ? $data['author'] : '' ?>"/>
        </div>
        <!-- title -->
        <div class="groupform-large">
            <label class="required" for="title">Titre</label>
            <?= $flash->flash("errorTitle", true); ?>
            <input class="padd-15" type="text" name="title" id="title" required placeholder="un titre" maxlength="255"
                   value="<?= !empty($data['title']) ? $data['title'] : '' ?>"/>
        </div>
        <!--  status -->
        <div class="groupform-large">
            <label class="required" for="status">Statut de publication</label>
            <?= $flash->flash("errorStatus", true); ?>
            <select class="padd-15" name="status" id="status">
                <option value="brouillon"
                <?= $data['status'] == "brouillon" ? "selected" : ""; ?>>Brouillon</option>
                <option value="publie"
                <?= $data['status'] == "publie" ? "selected" : ""; ?>>Publié</option>
            </select>
        </div>
        <!-- chapo -->
        <div class="groupform-large">
            <label class="required" for="chapo">Chapo</label>
            <?= $flash->flash("errorChapo", true); ?>
            <textarea class="padd-15" id="chapo" name="chapo" rows="5" placeholder="un chapo ..."
                      required><?= !empty($data['chapo']) ? $data['chapo'] : '' ?></textarea>
        </div>
        <!-- content -->
        <div class="groupform-large">
            <label class="required" for="content">Contenu</label>
            <?= $flash->flash("errorContent", true); ?>
            <textarea class="padd-15" id="content" name="content" rows="10" placeholder="un contenu ..."
                      required><?= !empty($data['content']) ? $data['content'] : '' ?></textarea>
        </div>
        <!-- submit -->
        <div class="marg-15-top align-center">
            <input class="padd-15" type="submit" value="valider" id="submit"/>
            <input class="padd-15" type="reset" value="annuler" id="reset"/>
        </div>
    </div>
</form>
